body{

    overflow: visible;


}


.short-about-col{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;


}

.big-title{

    width: 50%;
    border: 1px solid red;
    font-size: 4rem;
   
}

.big-picture{

    min-width: 300px;
    height: auto;
    margin: 2rem 0;


}

.image{

    width: 500px;
    height: auto;

}

.country-details{

    font-size: 4rem;
    width: 50%;
    font-weight: bold;
    padding-bottom: 2rem;
}

.description-container{

    font-size: 1.5rem;
    width: 50%;
   

}

.services-container{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

}

.service-info{

    border-top: 2px solid rgb(79, 79, 79);
    line-height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2rem;
    font-size: 1.5rem;

}

.services-container:last-child{

    border-bottom: 2px solid rgb(79, 79, 79);

}

.top-header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.open-tab{

    position: relative;
    cursor: pointer;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom-window1{

    opacity: 0;
    height: 0px;
    transition: all 0.5s ease-in;
    line-height: 1.5em;
}
.bottom-window2{

    opacity: 0;
    height: 0px;
    transition: all 0.5s ease-out;
    line-height: 1.5em;
}

.bottom-window1.active{

    opacity: 1;
    height: 100%;
    line-height: 1.5em;
    margin-top: 2rem;
}

.bottom-window2.active{

    opacity: 1;
    height: 100%;
    line-height: 1.5em;
    margin-top: 2rem;
}

.arrow-up{

    background-color: black;
    height: 30px;
    width: 3px;
    transition: all 0.5s ease;
    transform: translate(-50%);
    position: absolute;

}

.arrow-up.active{

    transform: rotate(90deg);
    
}

.arrow-middle{

    background-color: black;
    width: 3px;
    height: 30px;
    transform: rotate(90deg);
    
    
}

.service-info .number{

    padding-right: 5rem;


}

.service-headline{

    font-size: 8rem;
    margin-bottom: 5rem;
    
}

/* Row layout  */
.container-project{

    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: flex-start;
    border: 1px solid red;
}

.headline-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    width: 100%;
    
}

#mobile-delete{

    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

/* Carousel options */

.interest-carousel{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 8rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 10rem;
    
}

.item{

    margin: 0 2rem;
    opacity: 0.3;
    cursor: pointer;

}

.item:hover{

    opacity: 0.4;

}

.hobby-info{

    width: 40%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  
}

#web-gl-item{
    
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;

}

.hobby-info p{

    padding-bottom: 1.5rem;

}

#slide1{

   

}

#slide2{

   display: none;

}

#slide3{

    display: none;

}

/* Work page */

.section-name{
    
    display: flex;
    flex-direction: row;
    margin-bottom: 10rem;
    border: 1px solid red;
}


.headline-projects{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
    width: 100%;
}


.headline-projects h1{

    font-size: 8rem;
    margin-bottom: 4rem;
    
}

.title-description{

    display: flex;
    justify-content: space-between;
    width: 60%;
    border: 1px solid red;
    font-size: 1.5rem;
    
}

.title-description p{

    width: 70%;

}

/* Animate each letter */

.big-text-letter{

    opacity: 1;
    animation: bottom-top 1s ease-in-out var(--delay);
    display: inline-block;
    transform: translateY(0px);
    animation-iteration-count: 1;



}

/* Contact page */







/* Responsive mobile */

@media (max-width: 768px) {
    
    
    .section-name{

        font-size: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    
    .headline-projects h1{
    
        font-size: 3rem;
        width: 100%;
    
    }
    
    .title-description{
    
       font-size: 16px;
       display: flex;
       flex-direction: column;
       width: 100%;
    }
    
    .title-description p{
    
        width: 100%;
        padding-top: 1rem;
        width: 100%;
    }

    /* About me responsive page */
    
    .container{

        display: flex;
        flex-direction: column;
        max-width: 350px;
        margin: 0 auto;


    }


    .short-about-col{

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    
    
    }
    
    .big-title{
    
        width: 100%;
        border: 1px solid red;
        font-size: 2rem;
    
    }
    
    .big-picture{
    
        max-width: 300px;
        height: auto;
        margin: 2rem 0;
    
    
    }
    
    .image{
    
        width: 100%;
        height: auto;
    
    }
    
    .country-details{
    
        font-size: 2rem;
        width: 100%;
        font-weight: bold;
    
    }
    
    .description-container{
    
        font-size: 1rem;
        width: 100%;
    
    }
    
    .services-container{
        
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        border: 1px solid red;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    
    }
    
    .service-info{
    
        border-top: 2px solid rgb(79, 79, 79);
        line-height: 2.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 2rem;
        font-size: 1rem;
    
    }
    
    .service-info .number{
    
        padding-right: 5rem;
        display: none;
    
    }
    
    .service-headline{
    
        font-size: 4rem;
        margin-bottom: 3rem;
        
    }
    
    /* Row layout  */
    .container-project{
    
        display: flex;
        flex-direction: column;
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
        justify-content: flex-start;
        border: 1px solid red;
    }

    .container_reverse{

        display: flex;
        flex-direction: column-reverse;


    }
    
    .headline-container{
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 2rem;
        width: 100%;
    
    }

    
    .interest-carousel{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 4rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 10rem;
        
    }
    
    .hobby-info{
    
        width: 100%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    
    #heading{

        width: 100%;
        font-size: 24px;
        padding-right: 0rem;
        margin-left: 0;
    }

    #mobile-delete{

        display: none;

    }

    .headline-projects{

        margin-left: 0rem;

    }
    

}