body{
    
    overflow: auto;


}


.contact-container{

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1300px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    
}


.contact-container .contact-headline{

    font-size: 4rem;
    text-align: center;
}

.form-container .contact-headline{
        
    
    font-size: 2rem;
    
}

.contact-title .text-wrapper {
    
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
  
.contact-title .letter {

    display: inline-block;
   

}

@media (max-width: 700px){

    .form-container .contact-headline{
        
        width: 75%;
        font-size: 1rem;
        
    }

    .contact-container .contact-headline{

        font-size: 2.5rem;
        text-align: center;
    }

}

